<article>
  <strong>@<%= user %></strong>
  <p><%- text %></p>
  <time class="tweet-date" datetime="<%= timestamp %>"></time>
  <div class="tweet-footer">
    <a href="#" title="Antworten"><i data-feather="message-circle"></i></a>
    <a href="#" title="Retweet"><i data-feather="repeat"></i></a>
    <a href="#" title="Gefällt mir"><i data-feather="heart"></i></a>
  </div>
</article>
