<article>
  <strong><a class="user-link" href="/user/<%= user?.handle || 'anonymous' %>">@<%= user?.handle || 'anonymous' %></a></strong>
  <p><%- text %></p>
  <time class="tweet-date" datetime="<%= timestamp %>"></time>
  <div class="tweet-footer">
    <a href="#" title="Antworten"><i data-feather="message-circle"></i></a>
    <a href="#" title="Retweet"><i data-feather="repeat"></i></a>
    <a href="#" title="Gefällt mir"><i data-feather="heart"></i></a>
  </div>
</article>
